#status-card {
  /* カードサイズのデフォルト定義 */
  --card-width: 10rem;
  --card-height: 9rem;
  --card-margin: 5px;
}
.status-card {
  display: inline-block !important;
  margin: var(--card-margin);
  min-width: 10rem;
  min-height: 9rem;
  width: var(--card-width);
  height: var(--card-height);
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}
.card-text {
  font-size: 3em;
  font-weight: bolder;
}
.btn-fix {
 width: var(--card-width);
 height: var(--card-height);
 padding: 0 !important;
 border: none !important;
 color: inherit !important;
 }