<div id="status-card">
  <b-card no-body
    class="text-center status-card card-primary"
    v-if="members !== null && states !== null"
    v-for="member in membersArray"
    :key="member.key"
    :class="getStatus(member).child('color').val()">
    <a href="#" class="btn btn-fix" @click="clickCard(member.key)">
      <h4 class="card-header">{{ member.child('last_name').val() + " " + member.child('first_name').val() }}</h4>
      <b-card-body>
        <p class="card-text">{{ getStatus(member).child('name').val() }}</p>
      </b-card-body>
    </a>
  </b-card>
</div>